Django>=5.0,<7.0
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
starlette>=0.37.0
whitenoise>=6.6.0
requests>=2.32.0
httpx>=0.27.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
python-dotenv>=1.0.0
libsql
django-libsql-backend==0.1.1
deep-translator>=1.11.4
pycountry>=24.6.1
Babel>=2.15.0
matplotlib>=3.8.0
seaborn>=0.13.0
