# databridge-api/requirements.txt
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
python-dotenv>=1.0.0
huggingface_hub>=0.24.0
httpx>=0.27.0
requests>=2.32.0
deep-translator>=1.11.4
pycountry>=24.6.1
Babel>=2.15.0
